.box-preview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  padding: 3rem;
  height: 50rem;
  width: 50rem;
  background: linear-gradient(135deg, #484c5d 0%, #464a5f 100%);
  border: var(--Border);
  border-radius: 12px;

  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border-bottom: 1px solid rgb(255, 255, 255);
  }

  &__content {
    width: 100%;
  }
}
