.home-page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  height: 65rem;

  &__back-btn {
    background-color: #1987ea;
    color: #ffffff;
    font-size: 2.2rem;
    width: 20rem;
  }
}
