.kpies {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  flex-shrink: 0;
}

@media (max-width: 1050px) {
  .kpies {
    gap: 1rem;
  }
}

@media (max-height: 550px) {
  .kpies {
    gap: 0.6rem;
  }
}
