.location-item {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
  height: 10rem;
  width: 30rem;
  border: var(--Border);
  background-color: #484c5d;
  color: rgb(240, 240, 240);
  border-radius: 10px;
  font-size: 3rem;
  transition: 0.15s ease-in-out;
  &:hover {
    background-color: #595e72;
  }
}
