.location-selector {
  display: flex;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  overflow-y: scroll;
  padding: 0 2rem;
  width: 100%;
}

@media (max-width: 1050px) {
  .location-selector {
    align-items: stretch;
    gap: 2rem;
    width: 80%;
  }
}

@media (max-width: 480px) {
  .location-selector {
    gap: 1.5rem;
  }
}
