.person-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 1.5rem;
  width: 100%;
  color: rgb(220, 220, 220);
  font-size: 2rem;
  border: var(--Border);
  border-radius: 8px;

  &__right {
    &__title {
      display: flex;
      gap: 0.5rem;
    }
  }

  &__left {
    display: flex;
    gap: 0.5rem;
  }
}
