.person-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 1.5rem;
  width: 100%;
  color: rgb(220, 220, 220);
  font-size: 2rem;
  border: var(--Border);
  border-radius: 8px;

  &__right {
    &__title {
      display: flex;
      gap: 0.5rem;
      &__name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 10rem;
      }
    }
  }

  &__left {
    display: flex;
    gap: 1rem;

    &__exit-button,
    &__enter-button {
      border: none;
    }

    &__exit-button {
      background-color: #dd524c;
      color: white;
    }

    &__enter-button {
      background-color: #4ca154;
      color: white;
    }
  }
}
.toast-notification {
  font-size: 2rem;
}
