.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 5rem;
  height: 100%;
  padding: 2rem;

  background-color: #303039;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: rgb(240, 240, 240);

    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 2rem;
    }
  }

  &__body {
    height: 100%;
  }
}
